@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.movie-poster {
  /* height: 640px; */
  /* width: 100%; */
  /* zoom  in */
  object-fit: cover !important;
}




.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  margin-top: 100px;
  
}


/* RAM */
.movie-list {

  /* grid-mode */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;

  /* flex mode */

  /* display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around; */
}

.add-movie{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  gap: 0.9rem;
}
.movie-container{
  display: grid;
  
}
.movie-name{
  font-size: 16px !important;
  font-weight: bold !important;
}


.movie-first-line{
  display: flex;
  justify-content: space-between;
}

.movie-detail-container{
  max-width: 750px;
  padding: 16px;
}