@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.movie-poster {
  /* height: 640px; */
  /* width: 100%; */
  /* zoom  in */
  object-fit: cover !important;
}


.movie-name {
  font-size: 24px;
  margin: 0;
 
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  margin-top: 100px;
  width: 340px;
}


/* RAM */
.movie-list {

  /* grid-mode */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;

  /* flex mode */

  /* display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around; */
}

.add-movie{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  gap: 0.9rem;
}
.movie-container{
  display: grid;
  
}
.movie-name{

  font-weight: bold !important;
}



